mixin tipCTA(msg)
	.tip-cta&attributes(attributes)
		.tip-cta__msg= msg
		a.tip-cta__link(href="https://www.buymeacoffee.com/hectorDiaz") Send a Tip

mixin bookMarkCTA
	.book-mark-cta
		.book-mark-cta__msg Want to join in? Bookmark this page in your browser.

mixin artCard(day, prompt, imgSrc, imgAlt)
	.art-card&attributes(attributes)
		div
			img.art-card__img(src=imgSrc alt=imgAlt)
		.art-card__prompt
			span.art-card__day= day
			span.art-card__desc= prompt

mixin referenceCard(promptDesc, link, linkLabel, imgSrc, imgAlt)
	div(class="reference-card")&attributes(attributes)
		.reference-card__example
			img.reference-card__example-img(src=imgSrc alt=imgAlt)
		.reference-card__txt
			.reference-card__prompt-desc= promptDesc
			a.reference-card__link(href=link)=linkLabel

mixin promptCard(day, prompt, desc, link, linkLabel, refSrc, refAlt)
	article.prompt-card&attributes(attributes)
		button.prompt-card__view-btn view
		.prompt-card__body
			.prompt-card__complete
			.prompt-card__details
				+ referenceCard(promptDesc, link, linkLabel, refSrc, refAlt)(class="reference-card--prompt")
			h3.prompt-card__title
				.prompt-card__title-date=day
				.prompt-card__title-prompt=prompt
			+ tipCTA("Like the projct?")(class="tip-cta--prompt")
			//-.prompt-card__title

mixin contactCard(body, email)
	article#contact.contact-card
		h2 Contact
		.contact-card__body= body
		.contact-card__email= email
		+ tipCTA("like the project?")

mixin topBar
	header.top-bar
		.top-bar__nav
			nav
				a.top-bar__nav-link(href="#about") About
				a.top-bar__nav-link(href="#contact") Contact
				a.top-bar__nav-link(href="https://www.buymeacoffee.com/hectorDiaz") Leave a Tip
